.hints
  %strong On command line
  %pre
    :preserve
      $ gem install bosh_cli -v 1.5.0.pre.#{build_version.number}

  %strong Gemfile
  %pre
    :preserve
      gem "bosh_cli", "1.5.0.pre.#{build_version.number}"
