- %w(releases stemcells).each do |type|
  %h2= "Latest #{type.humanize}"

  - current_bv, previous_bv = @file_collection_presenter.latest_build_version(type)
  - linker = @file_collection_presenter.linker(type)
  - changes_linker = @file_collection_presenter.changes_linker

  = render partial: "file_collections/build_version",
    locals: {build_version:          current_bv,
             previous_build_version: previous_bv,
             linker:                 linker,
             changes_linker:         changes_linker}

- # Assumption here is that we publish gems to RubyGems everytime we publish BOSH release
- current_bv, _ = @file_collection_presenter.latest_build_version("releases")
= render partial: "gems_hint", locals: {build_version: current_bv}
