%h2 Latest Gems

- latest_gems_bv = @file_collection_presenter.latest_gems_build_version
- linker = @file_collection_presenter.linker

= render partial: "gems_hint",
  locals: {build_version: latest_gems_bv,
           linker:        linker}

= render partial: "file_collections/build_version",
  locals: {build_version: latest_gems_bv,
           linker:        linker}

%h2 Latest Release
= render partial: "file_collections/build_version",
  locals: {build_version: @file_collection_presenter.latest_release_build_version,
           linker:        linker}

%h2 Latest Stemcell
= render partial: "file_collections/build_version",
  locals: {build_version: @file_collection_presenter.latest_stemcell_build_version,
           linker:        linker}
