.container {
  max-width: 750px;
}

h1, h2 {
  padding-top: 5px;
  border-top: 2px solid #ddd;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  color: #aaa;
}

ul {
  padding-left: 0;
}

.source {
  margin-bottom: 30px;
  color: #aaa;
}

li.build-version,
ul.files > li,
ul.links > li {
  margin-bottom: 3px;
  padding-left: 0;
  list-style: none;
}

li.build-version {
  margin-bottom: 30px;
}

li.build-version > strong {
  float: left;
  margin-left: -80px;
  padding: 0 10px;
  border-radius: 50px;
  background: #00AA4F;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

li.build-version .files,
li.build-version .links {
  margin-bottom: 10px;
}

li.build-version .links a {
  color: #999;
  font-size: 12px;
}

.download-link {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  padding: 0 3px;
  border-radius: 5px;
  background: #efefef;
  font-size: 12px;
}

.e-tag {
  font-family: Courier New;
  float: right;
  color: #aaa;
  font-size: 12px;
  line-height: 18px;
}

.hints > strong {
  font-size: 10px;
  color: #aaa;
  font-weight: normal;
}
