- bvc    = @file_collection_presenter.build_version_collection(@collection_type)
- linker = @file_collection_presenter.linker(@collection_type)
- changes_linker = @file_collection_presenter.changes_linker

%h1= @collection_type.humanize

%p.source
  Source:
  = link_to linker.source_url, linker.source_url

%ul
  - (sorted_bvc = bvc.sorted).each.with_index do |_, i|
    = render partial: "build_version",
      locals: {build_version:          sorted_bvc[i], 
               previous_build_version: sorted_bvc[i+1], 
               linker:                 linker,
               changes_linker:         changes_linker}
